GEMINI_API_KEY=
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=stockvision
ERP_PRODUCT_URL=https://hook.eu1.make.celonis.com/79j69cp1aesv98zwozwgpduz86hk71rr
ERP_PRODUCTS_LIST_URL=https://hook.eu1.make.celonis.com/2dkavnxbe1o4rns7k75r1ej9yqflfa7x
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
ORDER_EMAIL=
APP_PASSWORD=stockvision
JWT_SECRET=change-me-in-production
IMAGE_STORAGE_PATH=./data/images
